<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-18">
      <div class="well text-center">
        <h3>{{model.subject}}</h3>
        <h3>{{model.title}}</h3>
        <p>
          <div class="spelling-tests color-box"></div>
          {{model.teacher.title}} {{model.teacher.surname}} set this homework for {{model.classGroup.classYear}}/{{model.classGroup.name}} - {{model.subject}}
        </p>
      </div>
    </div>
  </div>
</div>
